/* expenseDetails.css */
.container {
    display: flex;
  }
  
  .auth {
    flex: 1;
    padding: 20px;
  }
  
  .table {
    flex: 1;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .table table {
    width: 100%;
    border-collapse: collapse;
    background-color: #6dea47;
    
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  .DeleteBtn{
    background-color: rgb(225, 135, 135);
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    cursor: pointer;
  }
.EditBtn{
  background-color: rgb(74, 183, 230);
  border-radius: 5px;
  width: 100px;
  padding: 10px;
  cursor: pointer;
}